@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "https://unpkg.com/transition-style";
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::selection {
  background: black;
  color: white;
}

header {
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.con-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  background: #fff;
  user-select: none;
  border-bottom: 2px solid black;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

nav .logo-nav {
  position: absolute;
  left: 0;
  margin-left: 5%;
  font-weight: 600;
  color: black;
}

nav .logo-nav a {
  color: black;
}

.bar-nav {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-right: 5%;
  border-radius: 2px;
  transition: all .3s ease;
}

.bar-nav:active,
.bar-nav:hover {
  border: 1px solid black;
}

.nav-links {
  display: flex;
  width: 100%;
  height: 30vh;
  margin: 0;
  padding: 0;
  color: black;
  backdrop-filter: blur(5px);
  transition: all .3s ease-in-out;
  z-index: 999;
}

.nav-links label a {
  font-size: 1.3em;
  font-weight: 700;
  color: black;
}

.link-item {
  letter-spacing: 4px;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: all .2s ease;
  border-bottom: 2px solid transparent;
}

.link-item:hover {
  background: transparent;
  border-bottom: 2px solid black;
  border-radius: 0;
}

.active {
  background: transparent;
  border-bottom: 2px solid black;
  border-radius: 0;
}
main {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  font-size: 3em;
  font-weight: 800;
  overflow-x: hidden;
}

.subtitle {
  font-size: .6em;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 400;
  overflow-x: hidden;
}
 /* home */
#home {
  position: relative;
  font-family: "Outfit", sans-serif;
}
.animateWipe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  --transition__delay: .5s;
  background: black;
}
[transition="out:circle:top-left"] {
  --transition__duration: 3s;
}
.btn-talk:hover {
  background: #000;
  color: #fff;
  transform: scale(.95);
}

.btn-talk {
  user-select: none;
  padding: 10px 20px;
  background: transparent;
  color: #000;
  border: 2px solid black;
  margin: 10px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  transition: all .4s ease;
}
.img-talk-social:active {
  transform: scale(.9);
  background: black;
}
.img-talk-social {
  width: 35px;
  padding: 5px;
  transition: all .4s ease;
}
.logo-home-isi {
  width: 200px;
  transition: all 1.5s ease;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}
/* img transition */
@keyframes trasl {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes traslOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-200%);
  }
}
.translated {
  transform: translateX(-200%);
}

/* teks, btn transition*/
@keyframes traslRight {
  from {
    opacity: 0;
    transform: translateX(300%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes traslRightOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(300%);
  }
}
.translatedRight {
  transform: translateX(300%);
}
.hi-title {
  font-weight: 800;
}

/* about */

#about {
  height: 100vh;
  font-family: "Outfit", Sans-Serif;
}
#aboutTitle {
  transition: all 1s ease;
 /* animation: bounceInLeft 1s; */
}
#aboutSubtitle {
  transition: all 2s ease;
  font-family: "Outfit", sans-serif;
  font-size: .7em;
  padding-left: 3%;
  padding-right: 3%;
}
.translateAbout {
  opacity: 0;
}


/* skill */
#skils {
  height: auto;
  padding-top: 30%;
  padding-bottom: 10%;
  font-family: "Outfit", sans-serif;
}
.con-box-skil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10%;
  gap: 20px;
}
.box:active {
  transform: scale(.95);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  position: relative;
  transition: all .3s ease;
}
.img-skil {
  width: 50px;
}
.desk-skil {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/* portofolio */
#portofolio {
      width: 100%;
    height: auto;
      position: relative;
      overflow-x: hidden;
      padding-top: 10%;
}
.img-porto {
      width: 100%;
      height: 100vh;
      object-fit: cover;
}
.bxsh {
  display: flex;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 -100px 50px rgba(0,0,0,.4);
}
  #slider-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
    }

    #slider {
      display: flex;
      transition: all .8s ease;
    }

    .slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      opacity: .3;
      transition: all .6s ease;
    }
    .opacityOn {
      animation: opacityOng 2s ease;
      opacity: 1;
    }
    @keyframes opacityOng {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
.decoration-block {
  width: 100%;
  height: 10%;
  background: white;
}
.topDec {
  width: 101%;
  position: absolute;
  top: -3%;
  transform: rotate(4deg);
}
.bottomDec {
  position: absolute;
  bottom: -3%;
  transform: rotate(4deg);
}
.slide-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: absolute;
  bottom: 10%;
  padding: 10px;
  box-shadow: inset 0 -10px 50px rgba(0,0,0,.4);
}
.check-radio {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0.5px solid white;
  background: transparent;
}
.on {
  background: white;
}


/* project */
#project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  overflow-x: hidden;
}
.title-project-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 800;
  font-family: "Outfit", Sans-Serif;
  font-size: 2.5em;
  text-align: center;
}
.title-project {
  display: flex;
  align-items: start;
  font-weight: 600;
  font-family: "Outfit", Sans-Serif;
  font-size: 1.2em;
  text-align: left;
  margin-left: 3%;
}
.container-project-isi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
  overflow-x: hidden;
  margin-top: 5%;
  gap: 3px;
}
.all-project {
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  white-space: nowrap;
  gap: 5px;
  margin-top: 5%;
  width: auto;
}
.link-project {
  font-size: .8em;
}
.link-project a {
  color: black;
  border-bottom: 1px solid black;
}

/* contact */
#contact {
  padding-top: 15%;
  padding-bottom: 10%;
  width: 100%;
  height: auto;
  font-family: "Outfit", sans-serif;
}

.contact-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 700px;
  background: white;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
  position: relative;
}

.contact-information {
  background: black;
  color: white;
}

.tContact {
  position: absolute;
  top: 3%;
  text-align: center;
  margin: 20px 0;
}

.isi-info-contact {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  left: 5%;
  transform: translateY(-50%);
}

.c1-contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.href-contact {
  text-decoration: none;
  color: #a9a9a9;
  font-size: .8em;
  border-bottom: 1px solid #9d9d9d;
}
.address {
  white-space: nowrap;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 700px;
  background: white;
  color: black;
  border-radius: 20px;
  gap: 20px;
  border: 2px solid black;
  position: relative;
}
form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
}
.con-input {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.input-form {
  width: 300px;
  height: 30px;
  background: transparent;
  border: 2px solid black;
  padding: 5px;
}
.textarea-form {
  height: 150px;
}
.submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 2px solid black;
  background: transparent;
  padding: 6px;
  transition: all .6s ease;
  user-select: none;
}
.custom-loader {
  width:20px;
  height:20px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#000000);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}




/* footer */

footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #c6c6c6;
  position: relative;
}
.container-footer {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  gap: 20px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #383838;
  font-size: .7em;
  position: absolute;
  bottom: 2%;
}
.title-footer {
  font-weight: 600;
  font-family: "Outfit", Sans-Serif;
  font-size: 1.2em;
  border-bottom: 2px solid black;
  text-align: left;
}
.sub-footer {
  font-weight: 300;
  font-family: "Outfit", Sans-Serif;
  font-size: .7em;
  text-align: left;
  padding: 5px;
  margin: 0;
}
.sub-footer a {
  color: #323232;
  border-bottom: 2px solid #232323;
}
.isi-f {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  gap: 0;
  padding: 0;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "Outfit", Sans-Serif;
  font-weight: 800;
  text-align: center;
}


/* pop up */
.con-popup-succes {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  backdrop-filter: blur(2px);
  z-index: 9999;
}
@keyframes scalePopup {
  from {
  transform: scale(.4);
  }
  to {
    transform: scale(1);
  }
}
.isi-popup-succ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
  background: white;
  animation: scalePopup .7s ease;
}
.succes-title {
  font-family: "Outfit", Sans-Serif;
  color: #3de678;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  padding-left: 5%;
  padding-right: 5%;
}

